html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.external {
  color: blue;
}

.internal, .external {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 0.25em
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.rune_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1em
}

.day-container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-shrink: 0
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.rune_large {
  font-size: 300px;
  margin: 0;
  line-height: 1.5

}
.div-1 {
    background-color: #EBEBEB;
    border: 5px solid;
}
.div-2 {
    background-color: #BBBBBB;
    border: 5px solid;
}

.rune_small {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.texttitle {
  margin: 0 1rem 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align:center
}

.textdescription {
  margin: 0 1rem 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align:center
}

.text {
  margin: 0 1rem 1rem;
  line-height: 1.25;
  font-size: 1rem;
  text-align: justify
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}


.logo {
  height: 1em;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  margin-left: 0.5rem;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
